$main-font-family: "Open Sans", "Arial", sans-serif;
$mobile: 320px;
$pad: 768px;
$desktop-mid: 1025px;
$desktop-large: 1440px;
$white: #ffffff;
$text-gray: #7e7e7e;
$gray-default: #bebebe;
$blue: #007afa;
$orange: #eb5757;
$green: #1da399;
$grey-default: #bebebe;
$coral: #eb5757;
$azu4: #1da399;
$text-black: #282828;
$azure4: #1da399;